%header#main-header
  .header-top
    .container
      .row
        .col-md-3
          %a.logo{:href => root_url}
            = image_tag "logo-invert.png"
        .col-md-9
          .top-user-area.clearfix
            %ul.top-user-area-list.list.list-horizontal.list-border
              %li.nav-drop
                %a{:href => "#"}
                  USD $
                  %i.fa.fa-angle-down
                  %i.fa.fa-angle-up
                %ul.list.nav-drop-menu
                  %li
                    %a{:href => "#"}
                      EUR
                      %span.right €
                  %li
                    %a{:href => "#"}
                      GBP
                      %span.right £
                  %li
                    %a{:href => "#"}
                      JPY
                      %span.right 円
                  %li
                    %a{:href => "#"}
                      CAD
                      %span.right $
                  %li
                    %a{:href => "#"}
                      AUD
                      %span.right A$