.row
  .col-md-10.col-md-offset-1
    .row.row-wrap{"data-gutter" => "120"}
      .col-md-6
        .mb30.thumb
          %i.fa.fa-dollar.box-icon-left.round.box-icon-big.box-icon-border.animate-icon-top-to-bottom
          .thumb-caption
            %h4.thumb-title Best Price Guarantee
            %p.thumb-desc Habitant pulvinar nostra himenaeos pulvinar facilisi dui tincidunt luctus condimentum porttitor eros metus quisque scelerisque sollicitudin habitant
      .col-md-6
        .mb30.thumb
          %i.fa.fa-briefcase.box-icon-left.round.box-icon-big.box-icon-border.animate-icon-top-to-bottom
          .thumb-caption
            %h4.thumb-title Combine &amp; Save
            %p.thumb-desc Hendrerit pretium magna ultricies massa dignissim mi praesent et justo sed platea est cras penatibus fermentum neque
      .col-md-6
        .mb30.thumb
          %i.fa.fa-send.box-icon-left.round.box-icon-big.box-icon-border.animate-icon-top-to-bottom
          .thumb-caption
            %h4.thumb-title Best Destinations
            %p.thumb-desc Morbi vel nec sed imperdiet accumsan ultricies aliquet suspendisse placerat feugiat tellus platea fermentum eros in commodo
      .col-md-6
        .mb30.thumb
          %i.fa.fa-thumbs-o-up.box-icon-left.round.box-icon-big.box-icon-border.animate-icon-top-to-bottom
          .thumb-caption
            %h4.thumb-title Best Travel Agent
            %p.thumb-desc Quisque porta dolor scelerisque gravida commodo in accumsan ullamcorper laoreet nam litora senectus diam sapien hac turpis