%footer#main-footer
  .container
    .row.row-wrap
      .col-md-3
        %a.logo{:href => "index.html"}
          %img{:alt => "Image Alternative text", :src => "img/logo-invert.png", :title => "Image Title"}/
        %p.mb20 Booking, reviews and advices on hotels, resorts, flights, vacation rentals, travel packages, and lots more!
        %ul.list.list-horizontal.list-space
          %li
            %a.fa.fa-facebook.box-icon-normal.round.animate-icon-bottom-to-top{:href => "#"}
          %li
            %a.fa.fa-twitter.box-icon-normal.round.animate-icon-bottom-to-top{:href => "#"}
          %li
            %a.fa.fa-google-plus.box-icon-normal.round.animate-icon-bottom-to-top{:href => "#"}
          %li
            %a.fa.fa-linkedin.box-icon-normal.round.animate-icon-bottom-to-top{:href => "#"}
          %li
            %a.fa.fa-pinterest.box-icon-normal.round.animate-icon-bottom-to-top{:href => "#"}
      .col-md-3
        %h4 Newsletter
        %form
          %label Enter your E-mail Address
          %input.form-control{:type => "text"}/
          %p.mt5
            %small *We Never Send Spam
          %input.btn.btn-primary{:type => "submit", :value => "Subscribe"}/
      .col-md-2
        %ul.list.list-footer
          %li
            %a{:href => "#"} About US
          %li
            %a{:href => "#"} Press Centre
          %li
            %a{:href => "#"} Best Price Guarantee
          %li
            %a{:href => "#"} Travel News
          %li
            %a{:href => "#"} Jobs
          %li
            %a{:href => "#"} Privacy Policy
          %li
            %a{:href => "#"} Terms of Use
          %li
            %a{:href => "#"} Feedback
      .col-md-4
        %h4 Have Questions?
        %h4.text-color +1-202-555-0173
        %h4
          %a.text-color{:href => "#"} support@traveler.com
        %p 24/7 Dedicated Customer Support
