.gap
  %h1.text-center.text-white.mb20 Recent Reviews
  .row.row-wrap
    .col-md-4
      / START TESTIMONIAL
      .testimonial.text-white
        .testimonial-inner
          %blockquote
            %p Eget penatibus hac tortor imperdiet ante elementum tellus vel habitant in laoreet aenean sapien penatibus
        .testimonial-author
          = image_tag "50x50.png"
          %p.testimonial-author-name Alison Mackenzie
          %cite
            on
            %a.text-udl{:href => "#"} Waldorf Astoria
            hotel in New York
      / END TESTIMONIAL
    .col-md-4
      / START TESTIMONIAL
      .testimonial.text-white
        .testimonial-inner
          %blockquote
            %p Netus cum ornare massa blandit natoque dui volutpat lacus non volutpat enim praesent lobortis semper
        .testimonial-author
          = image_tag "50x50.png"
          %p.testimonial-author-name Cheryl Gustin
          %cite
            on
            %a.text-udl{:href => "#"} Wellington
            hotel in New York
      / END TESTIMONIAL
    .col-md-4
      / START TESTIMONIAL
      .testimonial.text-white
        .testimonial-inner
          %blockquote
            %p Aliquam vulputate velit penatibus elit gravida neque mollis purus vivamus habitasse iaculis nullam cras consectetur
        .testimonial-author
          = image_tag "50x50.png"
          %p.testimonial-author-name Sarah Slater
          %cite
            on
            %a.text-udl{:href => "#"} Holiday
            hotel in New York
      / END TESTIMONIAL
  .gap-small.gap