.container.static-pages
	.row
		.col-md-12
			%h2
				About Tripscrave Distribution

			%p
				Tripscrave Distribution is a leading retail distributor of holiday travel. The network, which is associated with Tripscrave A.T. Inc., includes the Tripscrave Travel. Tripscrave Distribution is a business unit of Tripscrave A.T. Inc., one of the largest integrated tourism companies in the world, committed to sustainable development and recognized as a Travelife Partner.
